/* NU STILI TUT I CHO...  */

:root {
  --color-primary: #e33d00;
  --color-accent: #fbe5ce;
  --color-text: #333333;
  --color-background: #fcf6ed;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("assests/ShantellSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Shantell Sans";
  src: url("assests/ShantellSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Shantell Sans";
  src: url("assests/ShantellSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Shantell Sans", sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-background);
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.flexCol {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-bottom: 48px;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  width: 90%;
}
.scene {
  display: none;
}

.scene.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: inherit;
}

.up {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.image {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.btnDiv {
  width: 100%;
  height: auto;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 48px;
}

button {
  width: 100%;
  padding: 12px 32px;
  font-family: "Shantell Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--color-accent);
  border: none;
  border-radius: 100px;
  cursor: pointer;

}

.pop-word {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  pointer-events: none;
  animation: popAnim 1s forwards;
  color: var(--color-primary);
  padding: 12px 24px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

@keyframes popAnim {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  body {
    padding: 20px 20px;
  }

  #container {
    width: 95%;
  }

  .image {
    width: 250px;
    height: 250px;
  }
  .up {
    width: 250px;
  }
  h1,
  h2,
  p {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  body {
    padding: 20px 20px;
  }

  #container {
    width: 70%;
  }

  .image {
    width: 350px;
    height: 350px;
  }
  .up {
    width: 350px;
  }
  h1,
  h2,
  p {
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 20px 20px;
  }

  #container {
    width: 60%;
  }

  .image {
    width: 350px;
    height: 350px;
  }
  .up {
    width: 400px;
  }
  h1,
  h2,
  p {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  body {
    padding: 20px 20px;
  }

  #container {
    width: 50%;
  }

  .image {
    width: 350px;
    height: 350px;
  }
  .up {
    width: 400px;
  }
  h1,
  h2,
  p {
    font-size: 20px;
  }
}
